.sidebar {
    background-color: #1992d4;
}

header {
    background-color: white;
}

main {
    background-color: #ebebeb;
}

/* Remove the above */

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1.2fr 4fr;
    min-height: 100vh;
    margin: 0px;
}

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
}

.header {
    grid-column: 2 / 3;
}

.branding {
    display: grid;
    grid-template-columns: 3.5rem auto;
    gap: 0.1rem;
    max-height: fit-content;
    align-items: center;
    padding: 0.5rem;
    margin-right: 1rem;
}

.branding h1 {
    font-weight: 800;
    font-size: 1.7rem;
    color: white;
}

.nav {
    list-style-type: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.nav-item {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 1rem;
    margin: 0px;
    align-items: center;
    grid-template-rows: auto;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.settings {
    list-style-type: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.setting-item a {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 1rem;
    margin: 0px;
    align-items: center;
    grid-template-rows: auto;
    color: white;
    text-decoration: none;
    font-weight: 700;
}